section {
  padding: 10px; 
}
  .needle {
  top: 42.5%;
  left: 43%;
  width: 50px;
  height: 50px;
  /*transform: rotate(deg);*/
  position: absolute;
  /*left: calc(50% - 12px);
  top: 25px;*/
  z-index: 3; 
}
.circle-outer {
  position: relative;
  border: 1px solid black;
  padding: 0;
  margin: 1em auto;
  width: 430px;
  height: 430px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
}
.circle {
  position: absolute;
  border: 1px solid black;
  padding: 0;
  margin: 1em auto;
  width: 580px;
  height: 580px;
  border-radius: 50%;
  list-style: none;
  overflow: hidden;
  left: -70px;
  top: -95px;
  transition-duration:3.5s;
}

li .background {
  overflow: hidden;
  position: absolute;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}
.content {
  position: absolute;
  z-index: 30;
  text-align: left;
  width: 200px;
}
.content .icon {
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
  color: #000;
}
.posit{
  margin: 20px;
}
.wheelPosit{
  padding-left: 15%;
  position: relative;
}